/* 
    Document   : default
    Created on : 14 mai 2012, 18:26:18
    Author     : brunolarosa
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: grey;
}

#wrapper {
    width: 900px;
    margin: auto;
    padding: 0;
    
    background-color: white;
}

